body{
    height: 3000px;
    background: silver;
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
}
*{
    margin: 0;
    padding: 0;
}
.display_flex {
    display: flex;
}

.top_bar {
    flex-grow: 1;
    padding: 70px;
}

.bar {
    border: 4px solid deepskyblue;
    border-radius: 20px;
    flex-direction: column;
}

.bottom {
    background: #33559b;
    flex-grow: 1;
    justify-content: center;
    box-sizing: border-box;


}

.hader {
height: 50px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.tape {
    width: 100%;
    column-gap: 50px;
    row-gap: 5px;

}

.tape_1, .tape_2, .tape_3, .tape_4 {
    flex-grow: 1;
column-gap: 30px;
    padding: 20px;
    flex-direction: column;

}

.tape_1_img, .tape_2_img, .tape_3_img, .tape_4_img {
    background: #33559b;
    height: 100px;
    width: 100px;
    padding: 3px;
    border-radius: 15px;


}

.tape_1_tex, .tape_2_tex, .tape_3_tex, .tape_4_tex {
    width: 100px;
    text-align: center;

}

.cart_1, .cart_2, .cart_3 {
    flex-grow: 1;
    padding: 40px;
    flex-direction: column;
    row-gap: 10px;
    column-gap: 10px;
    align-items: center;
    box-sizing: border-box;
    width: 30%;
    border: 3px solid transparent;

}

.cart_1_img, .cart_2_img, .cart_3_img {
    background: #ffffff;
    border-radius: 50%;
    width: 150px;
    height: 150px;


}

.cart_1_tex, .cart_2_tex, .cart_3_tex {
    width: 100%;
    text-align: center;
    color: silver;
}

.cart_1:hover, .cart_2:hover, .cart_3:hover {
    border-color: deepskyblue;


