
.root {
    width: 800px;
    display: flex;
    row-gap: 10px;
    column-gap: 10px;
    background: #ffffff;
    flex-direction: column;
    box-sizing: border-box;


}

#headr {

    background: goldenrod;
    display: flex;
    justify-content: center;
    flex-basis: 100px;
    column-gap: 10px;
    margin-left: 10px;

}

.menu_post {
    column-gap: 10px;
    display: flex;
    justify-content: center;
    flex-basis: 400px;



}

.menu {
    display: flex;
    background: hotpink;
    flex-grow: 1;
    justify-content: center;
    align-items: center;


}

.posts {
    display: flex;
    flex-grow: 5;
    flex-direction: column;
    box-sizing: border-box;
    row-gap: 10px;

}

.post {
    justify-content: center;
    display: flex;
    background: #4267b2;
    flex-grow: 200;
    justify-content: center;
    align-items: center;
}

#footer {
    display: flex;
    justify-content: center;
    background: goldenrod;
    margin-left: 10px;


}

