
.root {
    width: 800px;
    display: flex;
    row-gap: 10px;
    column-gap: 10px;
    background: #ffffff;
    flex-direction: column;
    box-sizing: border-box;


}

#headr {

    background: goldenrod;
    display: flex;
    justify-content: center;
    flex-basis: 100px;
    column-gap: 10px;
    margin-left: 10px;

}

.menu_post {
    flex-grow: ;
    column-gap: 10px;
    display: flex;
    justify-content: center;
    flex-basis: 400px;


}

.menu {
    display: flex;
    background: hotpink;
    flex-basis: 400px;
    flex-grow: 1;
    justify-content: center;


}

.posts {
    display: flex;
    flex-basis: 400px;
    flex-grow: 11;
    flex-direction: column;
    box-sizing: border-box;
    row-gap: 10px;
}

.post {
    justify-content: center;
    display: flex;
    background: #4267b2;
    flex-grow: 200;
}

#footer {
    display: flex;
    justify-content: center;
    background: goldenrod;
    margin-left: 10px;


}

/*#headr {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    height: 100px;*/
/*    width: 100%;*/
/*    background: #d0b46d;*/
/*}*/

/*.post {*/
/*display: flex;*/
/*    background: #1877f2;*/
/*    row-gap: 4px;*/
/*    column-gap: 4px;*/
/*    width: 100%;*/
/*    height: 30%;*/
/*    margin: auto;*/


/*}*/

/*.m-p {*/
/*    box-sizing: border-box;*/
/*    row-gap: 4px;*/
/*    column-gap: 4px;*/
/*    display: flex;*/
/*align-items: end;*/
/*    justify-content: center;*/
/*    flex-basis: 400px;*/

/*}*/

/*.menu {*/

/*    height: 100%;*/
/*    flex-grow: 1;*/
/*flex-grow: 1;*/

/*    display: flex;*/
/*    background: #1877f2;*/
/*    justify-content: stretch;*/
/*    flex-basis: 400px;*/


/*}*/

/*.posts {*/
/*    row-gap: 4px;*/
/*    column-gap: 4px;*/
/*    flex-grow: 3;*/
/*    display: flex;*/
/*    background: yellow;*/
/*flex-grow: 3;*/
/*    height: 100%;*/

/*}*/